<html>
  <head>
    <script src="node_modules/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="achievements">
      <table>
        <tr v-for="user in users">
          <td v-for="achievement in user.achievement">{{achievement}}</td>
        </tr>
      </table>
    </div>


    <script type="text/javascript">
      new Vue({
        el: '#achievements',
        data: {
          users : {}
        },
        created : function() {
          var self = this;
          var socket = new WebSocket('ws://localhost:8001');
          socket.onmessage = function (event) {
            message = JSON.parse(event.data);
            console.log(self);
            var user = self.$data.users[message.user];
            if(user == null) {
              self.$data.users[message.user] = {achievements : [message.id]};
            } else {
              user.achievement.push(message.id);
            }
            console.log(self.$data);
          };
        }
      });

    </script>
  </body>
</html>
